@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Zen Kurenaido', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input, select, option, button {
  font-family: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
}