.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links > button {
  margin: 0 1rem;
}

.logo {
  display: inline;
  line-height: 0.3;
}

.logo p {
  margin: 0;
  padding: 0;
  background: crimson;
}

@media screen and (max-width: 800px) {
  .logo {
    font-size: medium;
  }
  .links > button {
    margin: 0rem;
  }
}
